</head>
<body>
  <nav>
		<i>✈️</i>  
    <a 
      href="/flights/new" <%- airline === 'Add Flight' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- airline === 'All Flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>