</head>
<body>
  <nav>
		<i>✈️</i><i>✈️</i><i>✈️</i><i>✈️</i><i>✈️</i>
    <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
    <a href="/destinations/new">Add Destination</a> 
  </nav>