<%- include("./partials/html-head") %>
<%- include("./partials/nav") %>

<main id="home">
  <h1><%= airline %></h1>
  <!-- <a href="/flights/new">Add Flight Information</a>
  <a href="/flights">Show all flights</a> -->
</main>

<%- include("./partials/footer") %> 
