ul {
  display: grid;
  justify-content: center;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 2rem;
  padding: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 20px;
 
}

form * {
  padding: 8px;
  border-radius: 15px;
}


section div:nth-child(even) {
  font-weight: bold;
  padding: 20px;
}

#tickets {
  padding: 0px;
}
