ul {
 font-size: 40px;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  display: grid;
  justify-content: space-evenly;
  border: solid;
  font-size: 40px;
}

table thead th {
  padding: 5px;
  
}

table td {
  padding: 20px;
 
}

form * {
  font-size: 30px;
  padding: 18px;
  border-radius: 15px;
}


section div:nth-child(even) {
  font-weight: bold;
  padding: 30px;
}

#tickets {
  display: inline-block;
}
